{% extends 'base_original.html' %}

{% block content %}
{% load staticfiles %}

<script type="text/javascript">
  $(document).ready(function() {
    var active = '{{ type_filter }}';
    $("#filts > li#" + active).css('font-weight', 'bold');
    if ('{{ suggestion }}' == 'None')
      $("h3#suggestions").hide();
  });
</script>


<div class="container">
  <h2>{{ queries.request.0.totalResults }} Results Found For '{{ search_query }}'</h2>

  <ul id="filts" class="nav nav-pills search-filter-bar">
    <li id="all" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ search_query }}">All Results</a></li>
    <li id="art" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ search_query }}+Art">Art</a></li>
    <li id="fiction" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ search_query }}+Fiction">Fiction</a></li>
    <li id="features" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ search_query }}+Features">Features</a></li>
    <li id="poetry" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ search_query }}+Poetry">Poetry</a></li>
  </ul>

  <!-- <h3 id="suggestions">Did you mean ?</h3> -->

  <dl>
    {% for item in items %}
      <dt>
  <a style="font-size: 18px" href=" {{ item.link }} ">{{ item.title }}</a> - <a href="?q={{ item.pagemap.metatags.0.author }} " style="font-size: 18px" class="author no-decoration"> {{ item.pagemap.metatags.0.author }} </a> 

      </dt>
      <dd>
	<p style="margin: 0.2cm 1cm 1cm 1cm; color:#595959"> {{ item.snippet }}  <a href="{{ item.link }}" class="author no-decoration"> (more) </a> </p> 
      </dd>
    {% empty %}
      <p>No results found.</p>
    {% endfor %}

  <h3> showing page {{ queries.request.0.startIndex }} of {{queries.request.0.count}}  </h3> </n>
  
  <h3> <a href="/search/?q={{ search_query }}"> Previous </a> <a> | </a> <a href=""> Next </a> </h3>
  </dl>

  <!-- {% if page.has_previous or page.has_next %} -->
  <!-- <div>
    {% if page.has_previous %}<a href="?q={{ search_query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
  
    {% if page.has_next %}<a href="?q={{ search_query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div> -->
  <!-- {% endif %} -->

</div>

{% endblock %}
